{% extends 'layouts/base.html' %}

{% block title %}Đăng ký khám bệnh{% endblock %}

{% block content %}
<div style="width: 60%">
    <br>
    <h1 style="color: #3d9bff">Đăng ký khám</h1>
    <br>
        {% if sc_msg %}
        <div class="alert alert-success fade-out" style="background-color: #66ff61;position: fixed; top: 7.5%; right: 41.5%; z-index: 9999; opacity: 1; transition: opacity 1s ease-out;">
            <h4>{{ sc_msg }}</h4>
        </div>
        {% endif %}
    {% if err_msg %}
        <div class="alert alert-danger">
            <h4>{{ err_msg }}</h4>
        </div>
        {% endif %}


    <form method="post" action="{{ url_for('user_appointment')}}">

          <div class="row">
            <div class="col">
              <label for="name" class="form-label font-weight-bold">Họ tên</label>
              <input type="text" class="form-control " id="name" placeholder="Nhập họ tên" name="name" required>
            </div>
            <div class="col">
              <label class="form-label font-weight-bold">Giới tính</label>
                <div class="row mt-2">
                    <div class="form-check mr-5 ml-5">
                      <input type="radio" class="form-check-input" id="radio1" name="gender" value="Nam" checked>
                      <label class="form-check-label" for="radio1">Nam</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="radio2" name="gender" value="Nữ">
                      <label class="form-check-label" for="radio2">Nữ</label>
                    </div>
                </div>
            </div>
          </div>
        <br>
  <div class="row">
    <div class="col">
      <label for="birth" class="form-label font-weight-bold">Ngày sinh</label>
      <input type="date" class="form-control" id="birth" placeholder="Ngày sinh" name="date_of_birth" required>
        <br>
        <label for="birth" class="form-label font-weight-bold">Chọn ngày khám</label>
      <input type="date" class="form-control" id="date_appointment" placeholder="Ngày khám" name="date_appointment" required>
    </div>
    <div class="col">
      <label for="address" class="form-label font-weight-bold">Địa chỉ</label>
        <textarea type="" class="form-control" id="address" placeholder="Nhập địa chỉ" name="address" required></textarea>
        <label for="tel" class="form-label font-weight-bold">Số điện thoại</label>
        <input type="tel" class="form-control " id="tel" placeholder="Nhập số điện thoại" name="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required>
        <small>Format: 1234-567-890</small>
    </div>
  </div>
        <br>
  <div class="row">
    <div class="col">
      <label for="disease_history" class="form-label font-weight-bold">Lịch sử bệnh lý</label>
        <textarea type="text" class="form-control" id="disease_history" placeholder="Nhập lịch sử bệnh lý" rows="5" name="disease_history"></textarea>
    </div>
  </div>
        <br>
        <input type="submit" value="Đăng ký" class="btn btn-primary mx-auto" style="width:150px">

</form>
</div>
{% endblock %}