<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--                                {% if validation.medicine_name.errors %}-->
<!--                                    <ul class="errors">-->
<!--                                    {% for error in validation.medicine_name.errors %}-->
<!--                                        <li class="list-group-item list-group-item-danger">{{ error }}</li>-->
<!--                                    {% endfor %}-->
<!--                                    </ul>-->
<!--                                {% endif %}-->
</body>
</html>